
            

            
            body{
               margin: 0px; 
            }
  
     
            
          .header
            {
                width: 100%;
                height: 60px;
                background-color:powderblue;
            }
            a{
              margin-left: 10px;
                text-decoration: none;
                font-family: sans-serif;
                font-weight: bold;
                 margin-top: 20px;
                color:white;
            }
            .header__menu{
                 display: flex;
                justify-content: space-around;
            }
         @media screen and (min-width: 1240px)  {
             
             
            #logoshow{
                display: block; 
                background-color: aqua;
                width: 0px;
                height: 40px;
                background-image:url('../img/home.png');
                position: absolute;   
                margin-left: 10px;
                margin-top:10px;
                left: 10px;
                }
             
             #logoshow{
                display: block; 
             
                width: 50px;
                height: 40px;
                background-image: url('../img/logo.jpg');
                position: absolute;   
                margin-left: 10px;
                margin-top:10px;
                left: 10px;
                }
              #mob_show{
                position: absolute;
                right: 0px;
                display: none;
                    margin-left:10px;
                width: 180px;
                height: 150px;
                background-color: peachpuff;
                font-weight: 600px;
                }
            
             
                  .header__menu{
               
                 display: flex;
                justify-content: space-around;
            }
             
             
             
            }
            @media screen and (min-width: 1024px) and (max-width: 1240px)  {
                
                
                
                #mob_show{
                position: absolute;
                right: 0px;
                display: none;
                    margin-left:10px;
                width: 180px;
                height: 150px;
                background-color: peachpuff;
                font-weight: 600px;
                }
                
                
             
                  .header__menu{
               
                 display: flex;
                justify-content: space-around;
            }
                
                
            }
            
            @media screen and (min-width: 768px) and (max-width: 1024px) { #mob_show{
                position: absolute;
                right: 0px;
                display: none;
                    margin-left:10px;
                width: 180px;
                height: 150px;
                background-color: peachpuff;
                font-weight: 600px;
                }
          
             
                  .header__menu{
               
                 display: flex;
                justify-content: space-around;
            }
             }

            
        @media screen and (max-width: 768px) {
 
                
                .header__menu{
                display: none;
                }
                
            
            
            
                .mobmin{
                background-color: aqua;
                width: 40px;
                height: 40px;
                background-image:url('../img/menu.jpg');
                position: absolute;   
                margin-left: 10px;
                margin-top:10px;
                right: 10px;
                }
            
                
                #mob_show{
                position: absolute;
                right: 0px;
                display: none;
                    margin-left:10px;
                width: 180px;
                height: 150px;
                background-color: peachpuff;
                font-weight: 600px;
                }
            
            
            
           #logoshow{
                display: block; 
             
                width: 50px;
                height: 40px;
                background-image:url('../img/logo.jpg');
                position: absolute;   
                margin-left: 10px;
                margin-top:10px;
                left: 10px;
                }
             
            
            
                .back{
                 background-color: aqua;
                 width: 40px;
                 height: 40px;
                 background-image:url('../img/x.jpg');
                 position: absolute;   
                 margin-left: 10px;
                 margin-top:10px;
                 right: 10px;
                     }
               
                }
               
            }

     